<div class="ibox float-e-margins">
  <div class="ibox-content text-center p-md">
    <h2>Edit employee</h2>
  </div>
  <div class="ibox-content">
    <%= render 'form', form: form, url: employee_path(form.model.id) %>
  </div>
</div>
