<div class="ibox float-e-margins">
  <div class="ibox-content text-center p-md">
    <h2>New employee</h2>
  </div>
  <div class="ibox-content">
    <%= render 'form', form: form, url: employees_path, department_collection: department_collection %>
  </div>
</div>
