<%= simple_form_for form, as: :departments, url: url do |f| %>
  <div class="ibox">
    <div class="ibox-content">
      <%= f.input :title, input_html: { class: 'form-control' }, label_html: { class: 'form-label' } %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to "Back", departments_path, class: "btn btn-info" %>
    </div>
  </div>
<% end %>
