<div class="ibox float-e-margins">
  <div class="ibox-content text-center p-md">
    <h2>New department</h2>
  </div>
  <div class="ibox-content">
    <%= render 'form', form: form, url: departments_path %>
  </div>
</div>
